@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Work+Sans:wght@100..900&display=swap');

:root {
    --h1: 40px;
    --h2: 32px;
    --h3: 28px;
    --h4: 24px;
    --h5: 20px;
    --h6: 16px;

    --sub-h: 20px;

    --label: 16px;

    --ls: 5px;

    --body: 15px;

    --font-w-sans: "Work Sans", sans-serif;
    --font-crimson: "Crimson Text", serif;

    --font-weight-md: 500;

    --color-dark-100: rgba(33, 37, 41, 1);
    --color-dark-75: rgba(33, 37, 41, 0.75);
    --color-dark-50: rgba(33, 37, 41, 0.5);
    --color-dark-25: rgba(33, 37, 41, 0.25);

    --color-white-100: rgba(255, 255, 255, 1);
    --color-white-75: rgba(255, 255, 255, 0.75);
    --color-white-50: rgba(255, 255, 255, 0.5);
    --color-white-25: rgba(255, 255, 255, 0.25);

    --color-green-100: rgba(116, 198, 157, 1);
    --color-green-75: rgba(116, 198, 157, 0.75);
    --color-green-50: rgba(116, 198, 157, 0.5);
    --color-green-25: rgba(116, 198, 157, 0.25);

    --shadow-cards: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);

     /* Margin */
     --margin-zero: 0;
     --margin-top-xxs: -200px;
     --margin-top-xs: 15px;
     --margin-top-s: 20px;

     --margin-bottom-md: 30px;

     /* Padding */
    --padding-zero: 0;
    --padding-xs: 10px;
    --padding-sm: 20px;
    --padding-md: 25px;
    --padding-lg: 30px;
    --padding-xl: 40px;

    /* Border Radius */
    --border-radius-sm: 5px;
    --border-radius-md: 8px;

    /* Spacing */
    --gap-xs: 10px;
    --gap-sm: 15px;
    --gap-md: 20px;
    --gap-lg: 25px;
    --gap-xl: 30px;
    --gap-xxl: 40px;

    /* Max Widths */
    --max-width-container: 1140px;
    --max-width-container-lg: 970px;
    --max-width-container-md: 740px;
    --max-width-container-sm: 500px;
    --max-width-container-xs: 90%;

    --max-width-image: 100%;

    /* Top */
    --top-sm: 10vh;

    /* Z-index */
    --z-index-0: 0;

    /* Left */
    --left-zero: 0;

    /* Right */
    --right-zero: 0;

    /* Height */
    --height-lg: 100vh;

    /* Width */
    --width-xxl: 100%;
}



body {
    font-family: var(--font-w-sans);
    font-size: var(--body);
    color: var(--color-dark-100);
    background-color: var(--color-white-100);
}

/**
 * Removing default styles of the browser
 */

 * {
    margin: var(--margin-zero);
    padding: var(--padding-zero);
    box-sizing: border-box;
}


/**
 * Rules for button colors
 */

.white-btn, .dark-btn {
    color: var(--color-dark-100);
    background-color: var(--color-white-100);
    cursor: pointer;
    font-size: var(--h5);
    font-family: var(--font-w-sans);
    border: none;
    border-radius: var(--border-radius-md);
    padding: var(--padding-xs) var(--padding-xl); 
}

.dark-btn {
    color: var(--color-white-100);
    background-color: var(--color-dark-100);
    }

/**
 * Rules for text colors
 */

 .text-white {
    color: var(--color-white-100);
 }

 .text-dark {
    color: var(--color-dark-100);
 }

 .text-green {
    color: var(--color-green-100);
 }

/*
* style rules for title
*/

 .common-title {
    text-transform: capitalize;
    font-size: var(--h1);
    font-family: var(--font-crimson);
    font-weight: bold;
 }

/*
* style rules for label
*/

 .label {
    font-family: var(--font-w-sans);
    font-size: var(--label);
    letter-spacing: var(--ls);
    text-transform: uppercase;
    font-weight: bold;
 }

 /*
* style rules for hero section
*/

.hero {
    background-color: var(--color-green-100);
}

 /*
* style rules for navigation bar section
*/

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-lg) var(--padding-zero);
}

.navbar__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-md);
}

.navbar__logo--text {
    font-size: var(--h2);
    font-family: var(--font-w-sans);
    font-weight: var(--font-weight-md);
    color: var(--color-white-100);
}

.navbar__menu {
    display: flex;
    flex-direction: row;
    gap: var(--gap-sm);
    font-family: var(--font-w-sans);
    font-size: var(--h5);
    list-style: none;
    padding: var(--padding-zero);
    margin: var(--margin-zero);
}

[class^="navbar__menu--"] {
    color: var(--color-white-100);
    text-decoration: none;
}

.navbar__menu_icons {
    display: none;
}

.navbar__menu_icons i {
    cursor: pointer;
    font-size: var(--h2);
    color: var(--color-white-100);
}

.navbar__checkbox {
    display: none;
}


/**
* ! style rules for common classes
**/

.text-center {
    text-align: center;
}

.container {
    max-width: var(--max-width-container);
    margin: auto;
}

.responsive-image {
    max-width: var(--max-width-image);
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--padding-xl) var(--padding-zero);
    gap: var(--gap-lg);
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
}

/* 
* style rules for footer section
*/

.footer-wrapper {
    background-color: var(--color-green-100);
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-xl) var(--padding-zero);
}

.footer-links__socials {
    display: flex;
    gap: var(--gap-xs);
}

.footer-links__copyright {
    font-family: var(--font-w-sans);
    font-size: var(--sub);
}

/*
* media queary breakpoint for pc screen
*/

@media (max-width: 1200px) {
    .container {
        max-width: var(--max-width-container-lg);
    }
}

/*
* media queary breakpoint for laptop screen
*/

@media (max-width: 1024px) {
    .container {
        max-width: var(--max-width-container-md);
    }

    .common-title {
        font-size: var(--h4);
    }
}

/*
* media query breakpoint for tablet screen
*/

@media (max-width: 768px) {
    .container {
        max-width: var(--max-width-container-sm);
    }
    
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    /* remove navbar links and push them into hamburger menu if screen-width smaller then 768px*/
    .navbar__menu {
        z-index: var(--z-index-0);
        position: absolute;
        top: var(--top-sm);
        background-color: var(--color-green-100);
        width: var(--width-xxl);
        left: var(--left-zero);
        right: var(--right-zero);
        height: var(--height-lg);
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--gap-xxl);
    }

    .navbar__menu--home {
        margin-top: var(--margin-top-xxs);
    }

    .navbar__menu_icons {
        display: block;
    }

    .navbar__menu_icons .bi-x {
        display: none;
    }

    .navbar__checkbox:checked ~ .navbar__menu {
        display: flex;
    }

    .navbar__checkbox:checked ~ .navbar__menu_icons .bi-list {
        display: none;
    }
    
    .navbar__checkbox:checked ~ .navbar__menu_icons .bi-x {
        display: block;
      }
    

    .footer-links {
        flex-direction: column;
        align-items: center;
        gap: var(--gap-md);
    }
}

/*
* media query breakpoint for mobile screen
*/

@media (max-width: 568px) {
    .container {
        max-width: var(--max-width-container-xs);
    }
}